name: Release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/jod
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

      - name: Upload NPM Artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'dist'
          path: 'dist'

      - name: Publish NPM
        run: npm publish --provenance --access public

      - name: Prepare Pages Artifact
        run: |
          mkdir -p pages
          cp -r src/main/resources/* pages/
          cp dist/bundle.head.json pages/
          cp dist/bundle.json pages/

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: pages/

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
          files: 'dist/*'


  pages:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
